<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name><%= @winnodename %></name>
  <description>Windows Node</description>
  <remoteFS>f:\\jenkins\\jenkins-slave</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher">
    <vmargs>-Xms256m -Xmx1024m -Djava.io.tmpdir=F:\jenkins\jenkins-slave\temp</vmargs>
    <workDirSettings>
      <disabled>true</disabled>
      <internalDir>remoting</internalDir>
      <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
    </workDirSettings>
  </launcher>
  <label>Windows</label>
  <nodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>1</int>
          <string>PATH</string>
          <string>C:\Program Files (x86)\Common Files\Oracle\Java\javapath;C:\ProgramData\Oracle\Java\javapath;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\Program Files\Amazon\cfn-bootstrap\;C:\Program Files\Puppet Labs\Puppet\bin;c:\Program Files (x86)\Subversion\bin;C:\Program Files\Git\cmd;C:\Program Files\Microsoft SQL Server\130\Tools\Binn\;C:\Users\Administrator\.dnx\bin;C:\Program Files\Microsoft DNX\Dnvm\;C:\Program Files (x86)\Windows Kits\8.1\Windows Performance Toolkit\;F:\Program Files\CMake\bin;C:\Users\Administrator\AppData\Local\Microsoft\WindowsApps;F:\jenkins\tools\gpg4win\3.1.5\bin;</string>
          <string>TEMP</string>
          <string>F:\Temp</string>
          <string>TMP</string>
          <string>F:\Temp</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
    <hudson.tools.ToolLocationNodeProperty>
      <locations>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.model.JDK$DescriptorImpl</type>
          <name>JDK 1.8 (latest)</name>
          <home>f:\\jenkins\\tools\\java\\latest1.8</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.model.JDK$DescriptorImpl</type>
          <name>JDK 1.7 (latest)</name>
          <home>f:\\jenkins\\tools\\java\\latest1.7</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.model.JDK$DescriptorImpl</type>
          <name>JDK 1.6 (latest)</name>
          <home>f:\\jenkins\\tools\\java\\latest1.6</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.model.JDK$DescriptorImpl</type>
          <name>JDK 1.5 (latest)</name>
          <home>f:\\jenkins\\tools\\java\\latest1.5</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.tasks.Maven$MavenInstallation$DescriptorImpl</type>
          <name>Maven (latest)</name>
          <home>f:\\jenkins\\tools\\maven\\latest</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.tasks.Maven$MavenInstallation$DescriptorImpl</type>
          <name>Maven 2 (latest)</name>
          <home>f:\\jenkins\\tools\\maven\\latest2</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.tasks.Maven$MavenInstallation$DescriptorImpl</type>
          <name>Maven 3 (latest)</name>
          <home>f:\\jenkins\\tools\\maven\\latest3</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.tasks.Ant$AntInstallation$DescriptorImpl</type>
          <name>Ant (latest)</name>
          <home>f:\\jenkins\\tools\\ant\\latest</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.tasks.Maven$MavenInstallation$DescriptorImpl</type>
          <name>Maven 3.3.9</name>
          <home>F:\\jenkins\\tools\\maven\\apache-maven-3.3.9</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.model.JDK$DescriptorImpl</type>
          <name>JDK 1.9 (latest)</name>
          <home>f:\\jenkins\\tools\\java\\latest9</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.model.JDK$DescriptorImpl</type>
          <name>JDK 10 (latest)</name>
          <home>f:\\jenkins\\tools\\java\\latest10</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.model.JDK$DescriptorImpl</type>
          <name>JDK 11 (latest)</name>
          <home>f:\\jenkins\\tools\\java\\latest11</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.model.JDK$DescriptorImpl</type>
          <name>JDK 12 (latest)</name>
          <home>f:\\jenkins\\tools\\java\\latest12</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.model.JDK$DescriptorImpl</type>
          <name>JDK 13 (latest)</name>
          <home>f:\\jenkins\\tools\\java\\latest13</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
      </locations>
    </hudson.tools.ToolLocationNodeProperty>
  </nodeProperties>
</slave>
