# Exporter class
exporter.class=com.atlassian.uwc.exporters.MoinmoinExporter

## OPTIONAL

# If history is false, will only output the most recent versions of the page
# If history is true, will output all versions of the page
# default is false
# If you set the history property to true, then you should also uncomment
# the history properties in conf/converter.moinmoin.properties
# history=false
